body {
    background-color: lightgrey;
    font-family: monospace;
}
.back {
    border: 0.5em double #000;
    width: 900px;
    height: 800px;
    margin: 5px auto;
    background-color: white;
}
.wrapper {
    width: 85%;
    margin: 5px auto;
    height: 100%;
}
.wrapper2 {
    width: 75%;
    margin: 0px auto;
    border-bottom: 3px solid black;
    height: 130px;
}
.logo {
    float: right;
    padding-top: 10px;
    margin-top: 40px;
    margin-right: 50px;
    background: transparent;
}
.nav {
    margin: 1px auto;
    width: 75%;
    height: 30px;
    border-bottom: 1.5px solid black;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin: 0 20px;
    text-transform: uppercase;
}
li:hover {
    color: red;
}
.timeline {
    width: 72%;
    margin: 0px auto;
    padding: 5px;
    overflow: hidden;
}
.tour {
    margin: 1px auto;
    padding: 5px;
    width: 600px;
    height: 300px;
}
.para {
    height: 95px;
    margin: 5px auto;
    padding: 3%;
    width: 63%;
}
.box {
    width: 50%;
    border: 2px solid darkgrey;
    margin: 1px auto;
    padding: 5px;
}
p {
    text-align: center;
    margin: 0px auto;
    padding: 1px;
}